<h1 style="text-align: center; padding-bottom: 40px">Manage Regions</h1>

<div class="content-section implementation">
  <p-table [columns]="cols" [value]="regionsArray" selectionMode="single" [(selection)]="selectedRegion"
           (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="10">
    <ng-template pTemplate="caption">
      List of all Regions
    </ng-template>
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols" [pSortableColumn]="col.field" >
          <div *ngIf="col.header !=='Status'">
            {{col.header}}
          </div>
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of cols">
          <div *ngIf="col.header !=='Status'">
            {{rowData[col.field]}}
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
      <div style="text-align:left">
        <button type="button" pButton icon="fa fa-plus" (click)="showDialogToAdd()" label="Add"></button>
      </div>
    </ng-template>
  </p-table>

  <p-dialog header="Region Details" [(visible)]="displayDialog" [responsive]="true" [modal]="true"
            [style]="{width: '700px', background: 'lightgrey'}" [focusOnShow]="false" showEffect="fade">
    <div class="ui-g ui-fluid" *ngIf="selectedRegion">
      <div class="ui-g-12">
        <div class="ui-g-4">
          <label styleClass="projectPopUpLabels" for="id">Id</label>
        </div>

        <div class="ui-g-8">
          <input pInputText
                 required
                 pattern="^[0-9]+$"
                 id="id"
                 name="id"
                 class="form-control"
                 #id="ngModel"
                 [(ngModel)]="selectedRegion.id"
          >
          <div style="width:400px" *ngIf="id.touched && id.invalid">
            <div *ngIf="id.errors.required" style="color:red">
              Id is required!
            </div>
            <div *ngIf="id.errors.pattern" style="color:red">
              The id can contain only numbers!
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-12">
        <div class="ui-g-4">
          <label styleClass="projectPopUpLabels" for="name">Name</label>
        </div>

        <div class="ui-g-8">
          <input pInputText
                 required
                 id="name"
                 name="name"
                 class="form-control"
                 #name="ngModel"
                 [(ngModel)]="selectedRegion.name"
          >
          <div style="width:400px" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required" style="color:red">
              Region Name is required!
            </div>
          </div>
        </div>
      </div>
    </div>


    <p-footer>
      <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
        <button type="button" pButton icon="fa fa-close" (click)="delete()" label="Delete"></button>
      </div>
    </p-footer>

  </p-dialog>
</div>
